:root {
    --hero-color: #FFF;
    --startup-color: #EBFAEF;
    --guide-color: #094319;
    --buttons-color: #24AA4A;
    --buttons-hover: #209943;
    --text-dark: #101010;
    --text-gray: #757B8A;
    --font-body: 'Inter', sans-serif;
    --font-headings: 'Plus Jakarta Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--hero-color);
    color: var(--text-dark);
    min-width: 375px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

/*------------------------------ HEADER MOBILE -----------------------------------*/

.container {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.header {
    background-color: var(--hero-color);
    padding: 1rem 0;
    width: 100%;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
}

.header-inner .logo-container {
    display: flex;
}

.header-inner img[src*="Logo.png"] {
    height: 2rem;
    width: auto;
    margin: 0.625rem;
    margin-left: 1.25rem;
}

.header-inner .logo {
    font-size: 1.8rem;
    color: var(--text-dark);
    margin: 0.4rem;
    font-weight: 700;
}

.menu-desktop {
    display: none;
}

.sign-in-wrapper {
    display: none;
}

.menu-mobile {
    display: block;
}

#menu-toggle {
    background: none;
    border: none;
    padding: 0;
    margin: 0.625rem;
    margin-right: 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-toggle img {
    height: 1.5rem;
    width: auto;
}

/*------------------------------ HERO SECTION MOBILE -----------------------------------*/

.hero-section {
    padding: 2rem 1.25rem 3rem 1.25rem;
    text-align: left;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-section .hero-eyebrow {
    font-family: var(--font-body);
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--text-dark);
    margin: 0 0 1rem 1.25rem;
}

.hero-section h2 {
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -1px;
    color: var(--text-dark);
    margin: 0 1.25rem 1rem 1.25rem;
}

.hero-section p {
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-gray);
    margin: 0 0 2.5rem 1.25rem;
}

.hero-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--buttons-color);
    color: var(--hero-color);
    font-family: var(--font-body);
    width: 225px;
    height: 56px;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2.875rem 1.25rem;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3 ease;
}

.hero-cta:hover {
    background-color: var(--buttons-hover);
}

.hero-image-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem 2.5rem 1.5625rem;
}

.hero-image-desktop {
    display: none;
}

/*------------------------------ STARTUP SECTION MOBILE -----------------------------------*/

.startup-section {
    background-color: var(--startup-color);
    padding: 3rem 1.25rem;
    text-align: left;
    max-width: 980px;
    margin: 0 auto;
}

.startup-section h2 {
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--font-headings);
    line-height: 1.1;
    letter-spacing: -1px;
    color: var(--text-dark);
    margin: 3rem 1.5rem 2rem 1.25rem;
}

.startup-section p {
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-gray);
    margin: 0 0 2.5rem 1.25rem;
}


.image-wrapper {
    position: relative;
    margin: 2.5rem 1.5rem 3rem 1.5rem;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    display: block;
    border-radius: 1rem;
}

.room-card {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 186px;
    height: 134px;
    padding: 1rem 1rem 1rem 0;
    background-color: var(--hero-color);
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: var(--text-dark);
}

.room-card span {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
    font-family: var(--font-body);
    margin-top: 1rem;
}

.room-card p {
    font-size: 2.5rem;
    font-family: var(--font-headings);
    font-weight: 700;
    color: var(--text-dark);
}

.startup-cta a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--buttons-color);
    color: var(--hero-color);
    font-family: var(--font-body);
    font-weight: 700;
    font-size: 1rem;
    width: 225px;
    height: 52px;
    padding: 0.75rem 1.5rem;
    margin-left: 1.25rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/*------------------------------ GUIDE SECTION MOBILE -----------------------------------*/

.guide-section {
    background-color: var(--guide-color);
    color: var(--hero-color);
    padding: 3rem 1.5rem;
    max-width: 1035px;
    margin: 0 auto;
}

.guide-section h2 {
    font-size: 2.7rem;
    font-family: var(--font-headings);
    font-weight: 700;
    margin: 1rem 1.5rem 2rem 1.25rem;
}

.guide-section p {
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.6px;
    color: #EBFAEF;
    margin: 0 1.5rem 2rem 1rem;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1.5rem 2rem 1.25rem;
}

.stats-item h3 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--font-headings);
    margin: 0;
}

.stats-item p {
    font-size: 0.75rem;
    font-family: var(--font-body);
    font-weight: 300;
    color: #EBFAEF;
    margin-top: 0.5rem;
    margin: 0.5rem 0 2rem 0;
}

.guide-image {
    display: flex;
    justify-content: center;
}


.guide-image img {
    margin-bottom: 2rem;
}

/*------------------------------ ARTICLE SECTION MOBILE -----------------------------------*/

.article-section {
    background-color: var(--startup-color);
    color: var(--text-dark);
    padding: 3rem 1.5rem;
    max-width: 1435px;
    margin: 0 auto;
}

.article-section h2 {
    font-size: 2.5rem;
    font-family: var(--font-headings);
    font-weight: 700;
    margin: 1rem 1.5rem 1rem 1rem;
}

.article-section p {
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-gray);
    margin: 1rem 1rem 1.5rem 1rem;
}

.articles-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}

.article-card {
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.article-card img {
    width: 100%;
    height: auto;
    display: block;
}

.article-title p {
    position: absolute;
    bottom: 0.1rem;
    left: 0.1rem;
    right: 0.1rem;
    background-color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 12px;
    font-family: var(--font-body);
    color: var(--text-dark);
    font-size: 1rem;
    font-weight: 600;
}


/*------------------------------ BENEFICTS SECTION MOBILE -----------------------------------*/

.beneficts-section {
    background-color: var(--hero-color);
    color: var(--text-dark);
    padding: 3rem 1.5rem;
    max-width: 1100px;
    margin: 0 auto;
}

.beneficts-section h2 {
    font-size: 2.5rem;
    font-family: var(--font-headings);
    font-weight: 700;
    letter-spacing: -1px;
    margin: 1rem 1.5rem 1rem 1rem;
}

.beneficts-section p {
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-gray);
    margin: 1rem 1rem 1.5rem 1rem;
}

.beneficts-images {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
}


.beneficts-office-image {
    width: 100%;
    max-width: 250px;
    max-height: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    flex-shrink: 0;
}

.beneficts-desktop-image {
    display: none;
}


.feature-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
    align-items: center;
}

.feature-pair {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

.feature img {
    width: 48px;
    height: 48px;
    margin-bottom: 1rem;
}

.feature p {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-dark);
}

.separator {
    width: 1px;
    height: 120px;
    background-color: #EDEDED;
}

.separator-feature {
    display: none;
}

/*------------------------------ REVIEW SECTION MOBILE -----------------------------------*/


.review-section {
    background-color: var(--hero-color);
    color: var(--text-dark);
    padding: 3rem 1.5rem;
    max-width: 1100px;
    margin: 0 auto;
}

.review-section h2 {
    font-size: 2.5rem;
    font-family: var(--font-headings);
    font-weight: 700;
    letter-spacing: -1px;
    margin: 3rem 1.5rem 2rem 1rem;
}

.review-section p {
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-gray);
    margin: 1rem 1rem 1.5rem 1rem;
}

.testimonial-author strong {
    font-weight: 600;
    color: var(--text-dark);
}

.testimonial-author span {
    display: block;
    font-size: 0.85rem;
    color: var(--text-gray);
    margin-top: 0.5rem;
}

.review-image {
    position: relative;
    width: 100%;
    max-width: 360px;
    margin-bottom: 2rem;
}

.review-image .letter-c {
    position: absolute;
    left: -2rem;
    bottom: 3rem;
    width: 100px;
    z-index: 3;
    pointer-events: none;
}

.letter-c-desktop {
    display: none;
}

.review-image img:last-child {
    width: 100%;
    border-radius: 8px;
    position: relative;
    z-index: 2;
}

/*------------------------------ CTA SECTION MOBILE -----------------------------------*/

.cta-section {
    background-color: var(--startup-color);
    text-align: center;
    padding: 3rem 1.5rem;
}

.cta-section img {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    padding: 8px;
    background-color: var(--buttons-color);
    border-radius: 100%;
}

.cta-section p {
    margin-top: 1.5rem;
    font-size: 1rem;
    font-family: var(--font-body);
    font-weight: 500;
    color: var(--text-dark);
}

.button-cta {
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
}

.button-cta a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--buttons-color);
    color: var(--hero-color);
    font-family: var(--font-body);
    font-weight: 700;
    font-size: 1rem;
    width: 175px;
    height: 48px;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/*------------------------------ SEPARATOR FOOTER MOBILE -----------------------------------*/

.separator-footer {
    display: none;
}

.divisor {
    display: none;
}

/*------------------------------ FOOTER SECTION MOBILE -----------------------------------*/

.footer {
    background-color: var(--startup-color);
    padding: 2rem 1.5rem;
}

.footer-column .footer-newsletter {
    margin-bottom: 0;
}

.subscribe-section {
    margin-bottom: 30px;
}

.subscribe-section h3 {
    color: var(--buttons-color);
    font-family: var(--font-body);
    max-width: 190px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 1.3;
}

.newsletter-form {
    position: relative;
    max-width: 100%;
    height: 44px;
}

.newsletter-form label {
    display: none;
}

.newsletter-form input[type="email"] {
    width: 100%;
    height: 100%;
    padding: 12px 45px 12px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    color: #000;
}

.newsletter-form input[type="email"]:focus {
    border-bottom-color: var(--buttons-hover);
}

.newsletter-form input[type="email"]::placeholder {
    color: #757B8A;
}

.newsletter-form button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 16px;
    background-color: var(--buttons-color);
    color: white;
    border: none;
    border-radius: 8px 8px 0 0px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-form button[type="submit"]:hover {
    background-color: var(--buttons-hover);
}

.footer-column {
    display: none;
}

.footer-bottom {
    padding: 20px 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.footer-links-bottom {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links-bottom a {
    font-family: var(--font-body);
    color: var(--text-dark);
    text-decoration: none;
    font-size: 1rem;
}

.footer-social-media {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.footer-social-media a:hover {
    transform: scale(1.1);
}

.footer-social-media img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

/*------------------------------ MEDIAS QUERIES-----------------------------------*/

@media (min-width: 480px) {

    /*------------------------------ STARTUP SECTION 768px -----------------------------------*/

    .image-wrapper {
        display: flex;
        justify-content: center;
        max-width: 450px;
        margin: 0 auto;
    }

    /*------------------------------ ARTICLE SECTION 768px  -----------------------------------*/

    .article-card {
        width: 100%;
        height: auto;
        display: block;
        max-width: 450px;
        margin: 0 auto;
        border-radius: 1rem;
    }

    /*------------------------------ ARTICLE SECTION 768px -----------------------------------*/

    .beneficts-section {
        background-color: var(--hero-color);
        color: var(--text-dark);
        margin: 0 auto;
        padding: 4rem 6rem;
        max-width: 1440px;
    }


    .beneficts-desktop-image {
        display: block;
    }

    .beneficts-images {
        display: flex;
        position: relative;
        justify-content: flex-start;
        gap: 1rem;
        padding-left: 2rem;
        margin-bottom: 3rem;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
    }


    .beneficts-images img {
        object-fit: cover;
        border-radius: 16px;
        flex-shrink: 0;
        position: relative;
        z-index: 10;
    }

    .beneficts-office-image {
        display: none;
    }

    /*------------------------------ REVIEW SECTION 768px -----------------------------------*/



    .review-image {
        position: relative;
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    .review-image .letter-c-desktop {
        display: block;
        position: absolute;
        left: -10rem;
        bottom: 2rem;
        width: 280px;
        z-index: 3;
        pointer-events: none;
    }

    .letter-c {
        display: none;
    }

    .review-image img:last-child {
        width: 100%;
        border-radius: 8px;
        position: relative;
        z-index: 2;
    }

}

@media (min-width: 768px) {

    /*------------------------------ HERO SECTION 1024PX-----------------------------------*/

    .hero-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 6rem 3rem;
        gap: 4rem;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
    }

    .hero-section h2 {
        font-size: 4rem;
        max-width: 400px;
    }

    .hero-section p {
        max-width: 350px;
        font-family: var(--font-body);
        font-weight: 400;
    }

    .hero-eyebrow p {
        font-size: 1.2rem;
        font-family: var(--font-body);
        font-weight: 700;
    }

    .hero-image-mobile {
        display: none;
    }

    .hero-image-desktop {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    .hero-image-desktop img:first-child {
        position: absolute;
        bottom: -3rem;
        right: -3rem;
        z-index: 2;
        border-radius: 12px;
    }

    .hero-image-desktop img:last-child {
        width: 100%;
        max-width: 600px;
        border-radius: 12px;
    }

    /*------------------------------ GUIDE SECTION 1024PX-----------------------------------*/

    .guide-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        padding: 4rem 2rem;
        background-color: var(--guide-color);
        max-width: 1024px;
    }

    .guide-text {
        display: flex;
        flex-direction: column;
        max-width: 400px;
    }

    .guide-section h2 {
        font-size: 60px;
        font-family: var(--font-headings);
        font-weight: 700;
        text-align: left;
    }

    .guide-section p {
        font-family: var(--font-body);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #EBFAEF;
        text-align: left;
        max-width: 380px;
        margin: 0 1.5rem 2rem 1rem;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 460px;
    }

    .stats-item h3 {
        font-size: 2rem;
        font-weight: 700;
        font-family: var(--font-headings);
        margin: 0;
    }

    .stats-item p {
        font-size: 1rem;
        font-family: var(--font-body);
        font-weight: 300;
        color: #EBFAEF;
        margin-top: 0.5rem;
        margin: 0.5rem 0 2rem 0;
    }

    .guide-image img {
        width: 426px;
        height: auto;
        object-fit: cover;
    }

    /*------------------------------ STARTUP SECTION 1024PX-----------------------------------*/

    .startup-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        padding: 4rem 2rem;
        background-color: var(--startup-color);
        max-width: 1440px;
    }

    .image-wrapper {
        position: relative;
        width: 500px;
        overflow: visible;
    }

    .image-wrapper img {
        width: 100%;
        display: block;
    }

    .room-card {
        position: absolute;
        top: 4rem;
        right: -6rem;
        height: 134px;
        width: 224px;
        background: var(--hero-color);
        padding: 1rem 1.5rem;
        border-radius: 16px;
        box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.3);
        text-align: center;
        z-index: 1;
    }

    .room-card p {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: start;
        line-height: 1.2;
    }

    .room-card span {
        display: block;
        font-size: 1rem;
        color: var(--text-dark);
        font-weight: 500;
        margin-top: 1.5rem;
    }

    .startup-content {
        max-width: 700px;
        margin-top: -5rem;
    }

    .startup-content h2 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 2rem;
        margin-top: 2rem;
        line-height: 1.2;
    }

    .startup-content p {
        font-size: 1rem;
        font-family: var(--font-body);
        color: var(--text-gray);
        margin-bottom: 2rem;
        max-width: 486px;
    }

    .startup-cta a {
        background-color: var(--buttons-color);
        color: white;
        padding: 1rem 1rem;
        text-decoration: none;
        border-radius: 8px;
        font-weight: bold;
    }

    /*------------------------------ REVIEW SECTION 1024PX-----------------------------------*/

    .review-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        padding: 4rem 2rem;
        background-color: var(--hero-color);
        max-width: 1440px;
    }

    .review-section h2 {
        font-size: 1.5rem;
        font-family: var(--font-headings);
        font-weight: 700;
        letter-spacing: -1px;
        margin: -3rem 1.5rem 2rem 1rem;
        max-width: 450px;
    }

    .review-section p {
        font-family: var(--font-body);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--text-gray);
        margin: 1rem 1rem 1.5rem 1rem;
        max-width: 370px;
    }

    .review-image {
        position: relative;
        width: 100%;
        max-width: 450px;
    }

    .review-image .letter-c-desktop {
        display: block;
        position: absolute;
        left: -10rem;
        bottom: 2rem;
        width: 280px;
        z-index: 3;
        pointer-events: none;
    }

    .letter-c {
        display: none;
    }

    .review-image img:last-child {
        width: 100%;
        border-radius: 8px;
        position: relative;
        z-index: 2;
    }

    /*------------------------------ FOOTER SECTION 1024PX -----------------------------------*/



    .footer-row.footer-newsletter {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 4rem;
        margin-right: 5rem;
    }

    .subscribe-section {
        flex: 0 0 190px;
        max-width: 190px;
    }

    .subscribe-section h3 {
        color: var(--text-dark);
    }

    .newsletter-form {
        position: relative;
        max-width: 289px;
        height: 44px;
    }

    .footer-column {
        flex: 0 0 120px;
        max-width: 120px;
        display: block;
    }

    .footer-column h3 {
        font-family: var(--font-body);
        font-size: 1.2rem;
        color: var(--buttons-color);
        margin-bottom: 1rem;
    }

    .footer-column ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-column li {
        margin-bottom: 1.5rem;
    }

    .footer-column a {
        color: #000;
        text-decoration: none;
    }

    .footer-column a:hover {
        text-decoration: underline;
    }

    .footer-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 4rem;
        margin: 0 2rem
    }

    .footer-links-bottom {
        display: flex;
        gap: 3rem;
        margin-top: 4rem;
    }

    .footer-links-bottom a {
        color: #000;
        text-decoration: none;
    }

    .footer-links-bottom a:hover {
        text-decoration: underline;
    }

    .footer-social-media {
        display: flex;
        gap: 1.5rem;
        margin-top: 4rem;
    }

    .footer-social-media img {
        width: 20px;
        height: 20px;
    }

}

@media (min-width: 1024px) {

    /*------------------------------ HEADER DESKTOP-----------------------------------*/


    .menu-desktop {
        display: block;
    }

    .menu-desktop-left {
        display: flex;
        gap: 2rem;
        list-style: none;
        padding: 0;
        margin-left: 4rem;
        font-family: var(--font-body);
    }

    .menu-desktop-left li a {
        text-decoration: none;
        font-weight: 400;
        font-size: 1rem;
        color: #757B8A;
        transition: color 0.3s ease;
    }

    .menu-desktop-left .about-button {
        text-decoration: none;
        font-weight: 700;
        font-size: 1rem;
        color: var(--buttons-color);
        transition: color 0.3s ease;
    }

    .menu-desktop-left li a:hover,
    .menu-desktop-left li a:focus {
        color: var(--buttons-color);
    }

    .menu-mobile {
        display: none;
    }

    .header-inner {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 2rem;
    }

    .sign-in-wrapper {
        display: block;
    }

    .sign-in-button {
        background-color: var(--buttons-color);
        color: var(--hero-color);
        font-weight: 600;
        font-size: 1rem;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .sign-in-button:hover {
        background-color: var(--buttons-hover);
    }

    /*------------------------------ HERO SECTION DESKTOP -----------------------------------*/

    .hero-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 6rem 3rem;
        gap: 4rem;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
    }

    .hero-section h2 {
        font-size: 6.25rem;
        max-width: 570px;
    }

    .hero-section p {
        max-width: 465px;
        font-family: var(--font-body);
        font-weight: 400;
    }

    .hero-eyebrow p {
        font-size: 1.2rem;
        font-family: var(--font-body);
        font-weight: 700;
    }

    .hero-image-mobile {
        display: none;
    }

    .hero-image-desktop {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    .hero-image-desktop img:first-child {
        position: absolute;
        bottom: -3rem;
        right: -3rem;
        z-index: 2;
        border-radius: 12px;
    }

    .hero-image-desktop img:last-child {
        width: 100%;
        max-width: 600px;
        border-radius: 12px;
    }

    /*------------------------------ STARTUP SECTION DESKTOP -----------------------------------*/

    .startup-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        padding: 4rem 2rem;
        background-color: var(--startup-color);
        max-width: 1440px;
    }

    .image-wrapper {
        position: relative;
        width: 500px;
        overflow: visible;
    }

    .image-wrapper img {
        width: 100%;
        display: block;
    }

    .room-card {
        position: absolute;
        top: 4rem;
        right: -6rem;
        height: 134px;
        width: 224px;
        background: var(--hero-color);
        padding: 1rem 1.5rem;
        border-radius: 16px;
        box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.3);
        text-align: center;
        z-index: 1;
    }

    .room-card p {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: start;
        line-height: 1.2;
    }

    .room-card span {
        display: block;
        font-size: 1rem;
        color: var(--text-dark);
        font-weight: 500;
        margin-top: 1.5rem;
    }

    .startup-content {
        max-width: 700px;
        margin-top: -5rem;
    }

    .startup-content h2 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 2rem;
        margin-top: 2rem;
        line-height: 1.2;
    }

    .startup-content p {
        font-size: 1rem;
        font-family: var(--font-body);
        color: var(--text-gray);
        margin-bottom: 2rem;
        max-width: 486px;
    }

    .startup-cta a {
        background-color: var(--buttons-color);
        color: white;
        padding: 1rem 1rem;
        text-decoration: none;
        border-radius: 8px;
        font-weight: bold;
    }

    /*------------------------------ GUIDE SECTION DESKTOP -----------------------------------*/

    .guide-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        padding: 4rem 2rem;
        background-color: var(--guide-color);
        max-width: 1440px;
    }

    .guide-text {
        display: flex;
        flex-direction: column;
        max-width: 750px;
    }

    .guide-section h2 {
        font-size: 60px;
        font-family: var(--font-headings);
        font-weight: 700;
        text-align: left;
    }

    .guide-section p {
        font-family: var(--font-body);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #EBFAEF;
        text-align: left;
        max-width: 380px;
        margin: 0 1.5rem 2rem 1rem;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 460px;
    }

    .stats-item h3 {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: var(--font-headings);
        margin: 0;
    }

    .stats-item p {
        font-size: 1rem;
        font-family: var(--font-body);
        font-weight: 300;
        color: #EBFAEF;
        margin-top: 0.5rem;
        margin: 0.5rem 0 2rem 0;
    }

    .guide-image img {
        width: 426px;
        height: auto;
        object-fit: cover;
    }

    /*------------------------------ ARTICLE SECTION DESKTOP -----------------------------------*/

    .article-section {
        background-color: var(--startup-color);
        color: var(--text-dark);
        padding: 4rem 6rem;
        max-width: 1440px;
    }

    .article-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .article-section h2 {
        font-size: 2.5rem;
        font-family: var(--font-headings);
        font-weight: 700;
        max-width: 500px;
        margin: 3rem 0 3rem 2rem;
    }

    .article-section p {
        font-family: var(--font-body);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        max-width: 400px;
        color: var(--text-gray);
        margin: 1rem 1rem 1.5rem 1rem;
    }

    .articles-grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
        padding: 1.5rem;
    }

    .article-card {
        position: relative;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        gap: 2rem;
        border-radius: 16px;
    }

    .article-card img {
        width: 395px;
        height: auto;
        display: block;
        border-radius: 16px;
    }

    .article-title {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        background-color: transparent;
        padding: 0 2rem 1.5rem 2rem;
        width: clamp(200px, 23vw, 332px);
        height: clamp(80px, 6vw, 92px);
        border-radius: 12px;
        box-sizing: border-box;
    }

    .article-title p {
        font-family: var(--font-body);
        color: var(--text-dark);
        font-size: 1rem;
        font-weight: 600;
        max-width: 100%;
    }

    /*------------------------------ BENEFICTS SECTION DESKTOP -----------------------------------*/

    .beneficts-section {
        background-color: var(--hero-color);
        color: var(--text-dark);
        margin: 0 auto;
        padding: 4rem 6rem;
        max-width: 1440px;
    }


    .beneficts-desktop-image {
        display: block;
    }

    .beneficts-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .beneficts-text h2 {
        font-size: 2.5rem;
        font-family: var(--font-headings);
        font-weight: 700;
        max-width: 500px;
        margin: 3rem 0 3rem 2rem;
    }

    .beneficts-text p {
        font-family: var(--font-body);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        max-width: 550px;
        color: var(--text-gray);
        margin: 1rem 0.5rem 1.5rem 1rem;
    }

    .beneficts-images {
        display: flex;
        position: relative;
        justify-content: flex-start;
        gap: 1rem;
        padding-left: 2rem;
        margin-bottom: 3rem;
        overflow: hidden;
        width: 100%;
        max-width: 1440px;
        box-sizing: border-box;
    }


    .beneficts-images img {
        object-fit: cover;
        border-radius: 16px;
        flex-shrink: 0;
        position: relative;
        z-index: 10;
    }

    .beneficts-office-image {
        display: none;
    }

    .feature-grid {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 0 1rem;
        align-items: center;
        justify-content: space-between;
    }

    .feature-pair {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 1;
    }

    .feature img {
        width: 48px;
        height: 48px;
        margin-bottom: 1rem;
    }

    .feature p {
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--text-dark);
        max-width: 120px;
    }

    .separator {
        width: 1px;
        height: 120px;
        background-color: #EDEDED;
    }

    .separator-feature {
        display: block;
        width: 1px;
        height: 120px;
        background-color: #EDEDED;
    }

    /*------------------------------ REVIEW SECTION DESKTOP -----------------------------------*/

    .review-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        padding: 4rem 2rem;
        background-color: var(--hero-color);
        max-width: 1440px;
    }

    .review-section h2 {
        font-size: 2.5rem;
        font-family: var(--font-headings);
        font-weight: 700;
        letter-spacing: -1px;
        margin: -3rem 1.5rem 4rem 1rem;
        max-width: 411px;
    }

    .review-section p {
        font-family: var(--font-body);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--text-gray);
        margin: 1rem 1rem 1.5rem 1rem;
        max-width: 370px;
    }

    .review-image {
        position: relative;
        width: 100%;
        max-width: 450px;
    }

    .review-image .letter-c-desktop {
        display: block;
        position: absolute;
        left: -10rem;
        bottom: 2rem;
        width: 280px;
        z-index: 3;
        pointer-events: none;
    }

    .letter-c {
        display: none;
    }

    .review-image img:last-child {
        width: 100%;
        border-radius: 8px;
        position: relative;
        z-index: 2;
    }

    /*------------------------------ CTA SECTION DESKTOP -----------------------------------*/

    .cta-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }

    .cta-section img {
        margin-left: 4rem;
    }

    .cta-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        margin-right: 4rem;
    }

    .cta-content p {
        margin: 0;
    }

    .button-cta {
        justify-content: flex-start;
        margin-top: 0;
    }

    /*------------------------------ SEPARATOR FOOTER DESKTOP -----------------------------------*/

    .separator-footer {
        display: flex;
        margin: 0;
        background-color: var(--startup-color);
    }

    .divisor {
        display: block;
        width: 1220px;
        height: 1px;
        background-color: #EDEDED;
        margin: 0 auto;
    }

    /*------------------------------ FOOTER DESKTOP -----------------------------------*/

    .footer-row.footer-newsletter {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 4rem;
        margin-right: 5rem;
    }

    .subscribe-section {
        flex: 0 0 300px;
        max-width: 300px;
    }

    .subscribe-section h3 {
        color: var(--text-dark);
    }

    .newsletter-form {
        position: relative;
        max-width: 289px;
        height: 44px;
    }

    .footer-column {
        flex: 0 0 120px;
        max-width: 120px;
        display: block;
    }

    .footer-column h3 {
        font-family: var(--font-body);
        font-size: 1.2rem;
        color: var(--buttons-color);
        margin-bottom: 1rem;
    }

    .footer-column ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-column li {
        margin-bottom: 1.5rem;
    }

    .footer-column a {
        color: #000;
        text-decoration: none;
    }

    .footer-column a:hover {
        text-decoration: underline;
    }

    .footer-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 4rem;
        margin: 0 2rem
    }

    .footer-links-bottom {
        display: flex;
        gap: 3rem;
        margin-top: 4rem;
    }

    .footer-links-bottom a {
        color: #000;
        text-decoration: none;
    }

    .footer-links-bottom a:hover {
        text-decoration: underline;
    }

    .footer-social-media {
        display: flex;
        gap: 1.5rem;
        margin-top: 4rem;
    }

    .footer-social-media img {
        width: 20px;
        height: 20px;
    }


}
